<?xml version='1.0' encoding='utf-8'?>
<toolbox monitor="true">
  <section id="getext" name="Get Data">
    <tool file="data_source/upload.xml" />
    <tool file="data_source/ucsc_tablebrowser.xml" />
    <!-- <tool file="data_source/ucsc_tablebrowser_test.xml" /> -->
    <tool file="data_source/ucsc_tablebrowser_archaea.xml" />
    <tool file="data_source/ebi_sra.xml" />
    <tool file="data_source/fly_modencode.xml" />
    <tool file="data_source/intermine.xml" />
    <tool file="data_source/flymine.xml" />
    <!-- <tool file="data_source/flymine_test.xml" /> -->
    <tool file="data_source/modmine.xml" />
    <tool file="data_source/mousemine.xml" />
    <tool file="data_source/ratmine.xml" />
    <tool file="data_source/yeastmine.xml" />
    <tool file="data_source/worm_modencode.xml" />
    <tool file="data_source/wormbase.xml" />
    <!-- <tool file="data_source/wormbase_test.xml" /> -->
    <tool file="data_source/zebrafishmine.xml" />
    <tool file="data_source/eupathdb.xml" />
    <tool file="data_source/hbvar.xml" />
    <tool file="genomespace/genomespace_importer.xml" />
    <tool file="genomespace/genomespace_push.xml" />
  </section>
  <section id="send" name="Send Data">
    <tool file="cloud/send.xml" />
    <tool file="genomespace/genomespace_exporter.xml" />
  </section>
  <section id="collection_operations" name="Collection Operations">
    <tool file="${model_tools_path}/unzip_collection.xml" />
    <tool file="${model_tools_path}/zip_collection.xml" />
    <tool file="${model_tools_path}/filter_failed_collection.xml" />
    <tool file="${model_tools_path}/filter_empty_collection.xml" />
    <tool file="${model_tools_path}/flatten_collection.xml" />
    <tool file="${model_tools_path}/merge_collection.xml" />
    <tool file="${model_tools_path}/relabel_from_file.xml" />
    <tool file="${model_tools_path}/filter_from_file.xml" />
    <tool file="${model_tools_path}/sort_collection_list.xml" />
    <tool file="${model_tools_path}/tag_collection_from_file.xml" />
    <tool file="${model_tools_path}/apply_rules.xml" />
    <tool file="${model_tools_path}/build_list.xml" />
    <tool file="${model_tools_path}/extract_dataset.xml" />
  </section>
  <section id="expression_tools" name="Expression Tools">
    <tool file="expression_tools/parse_values_from_file.xml"/>
  </section>
  <section id="liftOver" name="Lift-Over">
    <tool file="extract/liftOver_wrapper.xml" />
  </section>
  <section id="textutil" name="Text Manipulation">
    <tool file="filters/fixedValueColumn.xml" />
    <tool file="filters/catWrapper.xml" />
    <tool file="filters/cutWrapper.xml" />
    <tool file="filters/mergeCols.xml" />
    <tool file="filters/convert_characters.xml" />
    <tool file="filters/CreateInterval.xml" />
    <tool file="filters/cutWrapper.xml" />
    <tool file="filters/changeCase.xml" />
    <tool file="filters/pasteWrapper.xml" />
    <tool file="filters/remove_beginning.xml" />
    <tool file="filters/randomlines.xml" />
    <tool file="filters/headWrapper.xml" />
    <tool file="filters/tailWrapper.xml" />
    <tool file="filters/trimmer.xml" />
    <tool file="filters/wc_gnu.xml" />
    <tool file="filters/secure_hash_message_digest.xml" />
  </section>
  <section id="convert" name="Convert Formats">
    <tool file="filters/bed2gff.xml" />
    <tool file="filters/gff2bed.xml" />
    <tool file="maf/maf_to_bed.xml" />
    <tool file="maf/maf_to_interval.xml" />
    <tool file="maf/maf_to_fasta.xml" />
    <tool file="filters/sff_extractor.xml" />
    <tool file="filters/wig_to_bigwig.xml" />
    <tool file="filters/bed_to_bigbed.xml" />
  </section>
  <section id="filter" name="Filter and Sort">
    <tool file="stats/filtering.xml" />
    <tool file="filters/sorter.xml" />
    <tool file="filters/grep.xml" />
    <label id="gff" text="GFF" />
    <tool file="filters/gff/extract_GFF_Features.xml" />
    <tool file="filters/gff/gff_filter_by_attribute.xml" />
    <tool file="filters/gff/gff_filter_by_feature_count.xml" />
    <tool file="filters/gff/gtf_filter_by_attribute_values_list.xml" />
  </section>
  <section id="group" name="Join, Subtract and Group">
    <tool file="filters/joiner.xml" />
    <tool file="filters/compare.xml" />
    <tool file="stats/grouping.xml" />
  </section>
  <section id="fetchAlignSeq" name="Fetch Alignments/Sequences">
    <tool file="maf/interval2maf_pairwise.xml" />
    <tool file="maf/interval2maf.xml" />
    <tool file="maf/maf_split_by_species.xml" />
    <tool file="maf/interval_maf_to_merged_fasta.xml" />
    <tool file="maf/genebed_maf_to_fasta.xml" />
    <tool file="maf/maf_stats.xml" />
    <tool file="maf/maf_thread_for_species.xml" />
    <tool file="maf/maf_limit_to_species.xml" />
    <tool file="maf/maf_limit_size.xml" />
    <tool file="maf/maf_by_block_number.xml" />
    <tool file="maf/maf_reverse_complement.xml" />
    <tool file="maf/maf_filter.xml" />
  </section>
  <section id="bxops" name="Operate on Genomic Intervals" version="">
    <tool file="filters/wiggle_to_simple.xml" />
    <tool file="stats/aggregate_binned_scores_in_intervals.xml" />
    <tool file="filters/ucsc_gene_bed_to_exon_bed.xml" />
  </section>
  <section id="stats" name="Statistics">
    <tool file="stats/gsummary.xml" />
    <tool file="filters/uniq.xml" />
  </section>
  <section id="plots" name="Graph/Display Data">
    <tool file="maf/vcf_to_maf_customtrack.xml" />
  </section>
  <section id="hgv" name="Phenotype Association">
    <tool file="evolution/codingSnps.xml" />
    <tool file="evolution/add_scores.xml" />
    <tool file="phenotype_association/sift.xml" />
    <tool file="phenotype_association/linkToGProfile.xml" />
    <tool file="phenotype_association/linkToDavid.xml" />
    <tool file="phenotype_association/ldtools.xml" />
    <tool file="phenotype_association/master2pg.xml" />
  </section>
  <section id="Infotechsoft" name="Infotechsoft">
    <tool file="qiime2/merge_feature_table_and_taxonomy.xml" />
    <tool file="qiime2/qiime_alignment_mafft.xml" />
    <tool file="qiime2/qiime_alignment_mask.xml" />
    <tool file="qiime2/qiime_composition_add-pseudocount.xml" />
    <tool file="qiime2/qiime_composition_ancom.xml" />
    <tool file="qiime2/qiime_cutadapt_demux-paired.xml" />
    <tool file="qiime2/qiime_cutadapt_demux-single.xml" />
    <tool file="qiime2/qiime_cutadapt_trim-paired.xml" />
    <tool file="qiime2/qiime_cutadapt_trim-single.xml" />
    <tool file="qiime2/qiime_dada2_denoise-paired.xml" />
    <tool file="qiime2/qiime_dada2_denoise-pyro.xml" />
    <tool file="qiime2/qiime_dada2_denoise-single.xml" />
    <tool file="qiime2/qiime_deblur_denoise-16S.xml" />
    <tool file="qiime2/qiime_deblur_denoise-other.xml" />
    <tool file="qiime2/qiime_deblur_visualize-stats.xml" />
    <tool file="qiime2/qiime_demux_emp-paired.xml" />
    <tool file="qiime2/qiime_demux_emp-single.xml" />
    <tool file="qiime2/qiime_demux_filter-samples.xml" />
    <tool file="qiime2/qiime_demux_subsample-paired.xml" />
    <tool file="qiime2/qiime_demux_subsample-single.xml" />
    <tool file="qiime2/qiime_demux_summarize.xml" />
    <tool file="qiime2/qiime_diversity_adonis.xml" />
    <tool file="qiime2/qiime_diversity_alpha-correlation.xml" />
    <tool file="qiime2/qiime_diversity_alpha-group-significance.xml" />
    <tool file="qiime2/qiime_diversity_alpha-phylogenetic-alt.xml" />
    <tool file="qiime2/qiime_diversity_alpha-phylogenetic.xml" />
    <tool file="qiime2/qiime_diversity_alpha-rarefaction.xml" />
    <tool file="qiime2/qiime_diversity_alpha.xml" />
    <tool file="qiime2/qiime_diversity_beta-correlation.xml" />
    <tool file="qiime2/qiime_diversity_beta-group-significance.xml" />
    <tool file="qiime2/qiime_diversity_beta-phylogenetic.xml" />
    <tool file="qiime2/qiime_diversity_beta-rarefaction.xml" />
    <tool file="qiime2/qiime_diversity_beta.xml" />
    <tool file="qiime2/qiime_diversity_bioenv.xml" />
    <tool file="qiime2/qiime_diversity_core-metrics-phylogenetic.xml" />
    <tool file="qiime2/qiime_diversity_core-metrics.xml" />
    <tool file="qiime2/qiime_diversity_filter-distance-matrix.xml" />
    <tool file="qiime2/qiime_diversity_mantel.xml" />
    <tool file="qiime2/qiime_diversity_pcoa-biplot.xml" />
    <tool file="qiime2/qiime_diversity_pcoa.xml" />
    <tool file="qiime2/qiime_diversity_procrustes-analysis.xml" />
    <tool file="qiime2/qiime_emperor_biplot.xml" />
    <tool file="qiime2/qiime_emperor_plot.xml" />
    <tool file="qiime2/qiime_emperor_procrustes-plot.xml" />
    <tool file="qiime2/qiime_feature-classifier_classify-consensus-blast.xml" />
    <tool file="qiime2/qiime_feature-classifier_classify-consensus-vsearch.xml" />
    <tool file="qiime2/qiime_feature-classifier_classify-hybrid-vsearch-sklearn.xml" />
    <tool file="qiime2/qiime_feature-classifier_classify-sklearn.xml" />
    <tool file="qiime2/qiime_feature-classifier_extract-reads.xml" />
    <tool file="qiime2/qiime_feature-classifier_fit-classifier-naive-bayes.xml" />
    <tool file="qiime2/qiime_feature-classifier_fit-classifier-sklearn.xml" />
    <tool file="qiime2/qiime_feature-table_core-features.xml" />
    <tool file="qiime2/qiime_feature-table_filter-features.xml" />
    <tool file="qiime2/qiime_feature-table_filter-samples.xml" />
    <tool file="qiime2/qiime_feature-table_filter-seqs.xml" />
    <tool file="qiime2/qiime_feature-table_group.xml" />
    <tool file="qiime2/qiime_feature-table_heatmap.xml" />
    <tool file="qiime2/qiime_feature-table_merge-seqs.xml" />
    <tool file="qiime2/qiime_feature-table_merge-taxa.xml" />
    <tool file="qiime2/qiime_feature-table_merge.xml" />
    <tool file="qiime2/qiime_feature-table_presence-absence.xml" />
    <tool file="qiime2/qiime_feature-table_rarefy.xml" />
    <tool file="qiime2/qiime_feature-table_relative-frequency.xml" />
    <tool file="qiime2/qiime_feature-table_subsample.xml" />
    <tool file="qiime2/qiime_feature-table_summarize.xml" />
    <tool file="qiime2/qiime_feature-table_tabulate-seqs.xml" />
    <tool file="qiime2/qiime_feature-table_transpose.xml" />
    <tool file="qiime2/qiime_fragment-insertion_classify-otus-experimental.xml" />
    <tool file="qiime2/qiime_fragment-insertion_filter-features.xml" />
    <tool file="qiime2/qiime_fragment-insertion_sepp.xml" />
    <tool file="qiime2/qiime_gneiss_assign-ids.xml" />
    <tool file="qiime2/qiime_gneiss_balance-taxonomy.xml" />
    <tool file="qiime2/qiime_gneiss_correlation-clustering.xml" />
    <tool file="qiime2/qiime_gneiss_dendrogram-heatmap.xml" />
    <tool file="qiime2/qiime_gneiss_gradient-clustering.xml" />
    <tool file="qiime2/qiime_gneiss_ilr-hierarchical.xml" />
    <tool file="qiime2/qiime_gneiss_ilr-phylogenetic.xml" />
    <tool file="qiime2/qiime_gneiss_lme-regression.xml" />
    <tool file="qiime2/qiime_gneiss_ols-regression.xml" />
    <tool file="qiime2/qiime_longitudinal_anova.xml" />
    <tool file="qiime2/qiime_longitudinal_feature-volatility.xml" />
    <tool file="qiime2/qiime_longitudinal_first-differences.xml" />
    <tool file="qiime2/qiime_longitudinal_first-distances.xml" />
    <tool file="qiime2/qiime_longitudinal_linear-mixed-effects.xml" />
    <tool file="qiime2/qiime_longitudinal_maturity-index.xml" />
    <tool file="qiime2/qiime_longitudinal_nmit.xml" />
    <tool file="qiime2/qiime_longitudinal_pairwise-differences.xml" />
    <tool file="qiime2/qiime_longitudinal_pairwise-distances.xml" />
    <tool file="qiime2/qiime_longitudinal_plot-feature-volatility.xml" />
    <tool file="qiime2/qiime_longitudinal_volatility.xml" />
    <tool file="qiime2/qiime_metadata_distance-matrix.xml" />
    <tool file="qiime2/qiime_metadata_tabulate.xml" />
    <tool file="qiime2/qiime_phylogeny_align-to-tree-mafft-fasttree.xml" />
    <tool file="qiime2/qiime_phylogeny_fasttree.xml" />
    <tool file="qiime2/qiime_phylogeny_filter-table.xml" />
    <tool file="qiime2/qiime_phylogeny_iqtree-ultrafast-bootstrap.xml" />
    <tool file="qiime2/qiime_phylogeny_iqtree.xml" />
    <tool file="qiime2/qiime_phylogeny_midpoint-root.xml" />
    <tool file="qiime2/qiime_phylogeny_raxml-rapid-bootstrap.xml" />
    <tool file="qiime2/qiime_phylogeny_raxml.xml" />
    <tool file="qiime2/qiime_quality-control_evaluate-composition.xml" />
    <tool file="qiime2/qiime_quality-control_evaluate-seqs.xml" />
    <tool file="qiime2/qiime_quality-control_evaluate-taxonomy.xml" />
    <tool file="qiime2/qiime_quality-control_exclude-seqs.xml" />
    <tool file="qiime2/qiime_quality-filter_q-score-joined.xml" />
    <tool file="qiime2/qiime_quality-filter_q-score.xml" />
    <tool file="qiime2/qiime_sample-classifier_classify-samples-from-dist.xml" />
    <tool file="qiime2/qiime_sample-classifier_classify-samples-ncv.xml" />
    <tool file="qiime2/qiime_sample-classifier_classify-samples.xml" />
    <tool file="qiime2/qiime_sample-classifier_confusion-matrix.xml" />
    <tool file="qiime2/qiime_sample-classifier_fit-classifier.xml" />
    <tool file="qiime2/qiime_sample-classifier_fit-regressor.xml" />
    <tool file="qiime2/qiime_sample-classifier_heatmap.xml" />
    <tool file="qiime2/qiime_sample-classifier_metatable.xml" />
    <tool file="qiime2/qiime_sample-classifier_predict-classification.xml" />
    <tool file="qiime2/qiime_sample-classifier_predict-regression.xml" />
    <tool file="qiime2/qiime_sample-classifier_regress-samples-ncv.xml" />
    <tool file="qiime2/qiime_sample-classifier_regress-samples.xml" />
    <tool file="qiime2/qiime_sample-classifier_scatterplot.xml" />
    <tool file="qiime2/qiime_sample-classifier_split-table.xml" />
    <tool file="qiime2/qiime_sample-classifier_summarize.xml" />
    <tool file="qiime2/qiime_taxa_barplot.xml" />
    <tool file="qiime2/qiime_taxa_collapse.xml" />
    <tool file="qiime2/qiime_taxa_filter-seqs.xml" />
    <tool file="qiime2/qiime_taxa_filter-table.xml" />
    <tool file="qiime2/qiime_tools_export_collection.xml" />
    <tool file="qiime2/qiime_tools_export_paired_collection.xml" />
    <tool file="qiime2/qiime_tools_export.xml" />
    <tool file="qiime2/qiime_tools_import.xml" />
    <tool file="qiime2/qiime_vsearch_cluster-features-closed-reference.xml" />
    <tool file="qiime2/qiime_vsearch_cluster-features-de-novo.xml" />
    <tool file="qiime2/qiime_vsearch_cluster-features-open-reference.xml" />
    <tool file="qiime2/qiime_vsearch_dereplicate-sequences.xml" />
    <tool file="qiime2/qiime_vsearch_join-pairs.xml" />
    <tool file="qiime2/qiime_vsearch_uchime-denovo.xml" />
    <tool file="qiime2/qiime_vsearch_uchime-ref.xml" /> 
	  <tool file="percent_abundance/percent_abundance.xml" />
  	<tool file="swap_ids/swap_ids.xml" />
  	<tool file="genetegra_query/genetegra_query.xml" />
  </section>
  <!--section id="interactivetools" name="Interactive tools">
    <tool file="interactive/codingSnps.xml" />
    <tool file="interactive/interactivetool_askomics.xml" />
    <tool file="interactive/interactivetool_bam_iobio.xml" />
    <tool file="interactive/interactivetool_cellxgene.xml" />
    <tool file="interactive/interactivetool_ethercalc.xml" />
    <tool file="interactive/interactivetool_hicbrowser.xml" />
    <tool file="interactive/interactivetool_jupyter_notebook.xml" />
    <tool file="interactive/interactivetool_neo4j.xml" />
    <tool file="interactive/interactivetool_phinch.xml" />
  </section-->
</toolbox>
