
/* all tools under 'Get Data' category*/
#genetegra_query.genetegra-icon{
    content: url(../../images/infotechsoft_branding/InfoTechSoft_Icon.png);
    display: inline-block;
    width: 10%;
    height: 2vh;
    vertical-align: middle;
}


