#qiime2.qiime2-icon {
    content: url(../../images/qiime2_branding/qiime2_logo.jpeg);
    display: inline-block;
    max-width: 12%;
    height: 3vh;
    vertical-align: middle;
    margin-left: -1px;
}

